<script setup>
import { ref } from 'vue'

const items = JSON.parse(localStorage.getItem('todos'))
const todo = ref('')
const todos = ref(items._value || [])

function getNewId() {
  const idCounter = Number(localStorage.getItem('idCounter') || '0')
  const newId = idCounter + 1
  localStorage.setItem('idCounter', newId.toString())

  return newId
}

function addTodo() {
  if(todo.value) {
    todos.value.push({ id: getNewId(), text: todo.value, done: false})
    localStorage.setItem('todos', JSON.stringify(todos))
    todo.value = ''
  }
}

function deleteTodo(todo) {
  todos.value = todos.value.filter((t) => t !== todo)
  localStorage.setItem('todos', JSON.stringify(todos))
}

function updateTodo(todo) {
  for (let i = 0; i < todos._value.length; i++) {
    if (todos._value[i].id === todo.id) {
      if (todo.done === false) {
        todos._value[i].done = true
      } else {
        todos._value[i].done = false
      }
    }
  }
  localStorage.setItem('todos', JSON.stringify(todos))
}

</script>

<template>
  <header>
  </header>

  <main>
    <form @submit.prevent="addTodo">
        <input v-model="todo" placeholder="enter your todo here" required="required">
        <button>Add Todo</button>
    </form>
    <ul>
      <li v-for="todo in todos" :key="todo.id">
      <input type="checkbox" v-model="todo.done" @click="updateTodo(todo)">
        <span :class="{ done: todo.done }">{{ todo.text }}</span>
        <button @click="deleteTodo(todo)">delete</button>
      </li>
      <p v-if="!todos.length">
          Nothing todos, yey!
      </p>
    </ul>
  </main>
</template>

<style scoped>
.done {
  text-decoration: line-through;
}
li {
  list-style: none;
  padding: 5px;
}
</style>
